.organismscope-formcolumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 15px;
}

@media (min-width: 768px) { 

    .organismscope-formcolumn {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 350px;
        margin-left: 15px;
        margin-right: 15px;
    }
}