.recordreportsection-content {
    background-color: cornflowerblue;
}

.recordreportsection-title {
    font-size: small;
    font-weight: bolder;
    text-transform: uppercase;
}

.recordreportsection-separator {
    font-size: 15px;
    color: #777;
    font-weight: 350;
    margin: 0px 1% 5px 1%;
    border-bottom: 1px #ccc solid;
    padding: 0px 0px 15px 0px;
}
