<?xml version="1.0" encoding="utf-8"?>
<!--
  WAPT-005: Remove information disclosure headers for IIS deployments.
  This configuration removes the 'Server' and 'X-Powered-By' headers from responses
  to prevent attackers from identifying the server infrastructure.
-->
<configuration>
  <system.webServer>
    <security>
      <!-- Remove Server header from responses -->
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <!-- Remove X-Powered-By header from responses -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\arc.api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
